<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!-- Set value to true if you want to run Syslog project as backup server -->
    <add key="isMainSyslog" value="false"/>
    <add key="myPort" value="513"/>
    <add key="hasBackup" value="false"/>
    <add key="backupPort" value="513"/>
    <add key="backupAddress" value="localhost"/>
  </appSettings>
</configuration>
